.DS_Store
/.gradle
/.idea
/build
/out
SpaceFXMobile.iml
*.aphoto
*.afdesign
*.hprof
*.class
/src/main/resources/eu/hansolo/spacefxmobile/beams.png
/SpaceFXMobileApp/build
SpaceFXMobileApp/target
/SpaceFXPiApp/target
